<%- include("partials/header") %>
<div class="container"> 
    <header class="jumbotron">
        <h1>YelpCamp</h1>
        <p>Welcome yourself to the best camps from all around the globe.</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new one.</a>
        </p>
    </header>

    <div class="card-deck">
        <% campgrounds.forEach((campground) => { %>
        <!-- <div class="col-lg-4"> -->
            <div class="card mb-3" style="min-width: 18rem;">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title text-center"><%= campground.name %></h4>
                </div>
            </div>
            <% }); %>
        <!-- </div> -->
    </div>
    <%- include("partials/footer") %>
</div>